/* You can add global styles to this file, and also import other style files */
.img-responsive, .photo {
    display: flex;
    justify-content: center;
    max-width: 300px;
    max-height: 300px;
}

.name, .rule, .summary {
    font-family: fantasy;
    
}