body {
    background-color: cadetblue
}

h1 {
    color: midnightblue;
    text-align: center;
}

h2 {
    color: indigo;  
    text-align: center;  
}

h3 {
    color:black;
    text-align: center;
}
nav {
    text-align: center;
    background-color: bisque;
    list-style-type: none;
}
