body {
    background-color: lightcyan;
    font-family: cursive;
    text-align: center;
    }
.cat {
    font-family: fantasy;
}
.secret {
    opacity: 0.5;
}
li {
    list-style-type: none;
}
table {
    align-content: center;
    border: gray;
    border-style: solid;
    border-width: 1px;
}
th {
    border: gray;
    border-style: solid;
    border-width: 1px;
}
td {
    border: gray;
    border-style: solid;
    border-width: 1px;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
.cabbage {
    color: chartreuse;
}
#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }