<div class="grid">
  <div class="item" style="background-color: #ffc41a">
    <app-home></app-home>
  </div>
  <div class="item" style="background-color: #ff7b0f">
    <app-about></app-about>
  </div>
  <div class="item" style="background-color: #ea4335">
    <app-portfolio></app-portfolio>
  </div>
  <div class="item" style="background-color: #75bd3f">
    <app-clients></app-clients>
  </div>
  <div class="item" style="background-color: #0092ff">
    <app-sup></app-sup>
  </div>
  <div class="item" style="background-color: #7d4297">
    <app-contact></app-contact>
  </div>
</div>




